body {background-color:rgb(243, 241, 237);
    border-radius: 25px;
    border: 2px solid #111111;
    padding: 20px;
    width: 500px;
    height: 400px;}
h1{color:rgb(117, 124, 117);
text-align: justify;
}

h2{text-align: justify; 
padding: 30px;}
#co{
    text-align: inherit;
    font-size: 17;

}
#resul{
    text-align: inherit;
    padding: 30px;
}


