body {background-color:rgb(243, 241, 237);
height: 100pc;
width:100c;}
h1{color:rgb(117, 124, 117);
text-align: justify;
}
h2{text-align: justify; 
padding: 30px;}
#co{
    text-align: inherit;
    font-size: 17;

}
#resul{
    text-align: inherit;
    padding: 30px;
}


